<form [formGroup]="ResultatForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Analyses disponibles</mat-label>
<!--      <mat-select  formControlName="Analyse" placeholder="choisir un analyse">-->
<!--        <mat-option *ngFor="let exam of Analyses" [value]="exam.analyse">-->
<!--          {{exam.analyse}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->

    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" formControlName="Analyse">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let exam of filteredStates| async" [value]="exam.analyse">
        <img class="example-option-img" aria-hidden src="../../assets/images/LOGOLABO.png" height="25">
        <span>{{exam.analyse}}</span>
<!--        <small>Population: {{state.population}}</small>-->
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Description</mat-label>
    <textarea  matInput formControlName="Description" placeholder="Entrez la description"></textarea>
  </mat-form-field>


  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Enregistrer
    </button>

  </div>
</form>
