
<section class="hero-wrap hero-wrap-2" style="background-image:url(../../assets/images/008.jpg);" data-stellar-background-ratio="0.5" >
  <div class="overlay"></div>
  <div class="row">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Présentation</h1>
            <p class="breadcrumbs"><span class="mr-2"><a routerLink="/Accueil">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>Présentation <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">

    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Présentation</span>
        <h2 class="mb-4">Laboratoire Masmoudi Jeribi Senda </h2>
        <p>Laboratoire indépendant dirigé depuis 2000 par Mme Masmoudi Jeribi Senda Biologiste médical, le laboratoire développe une relation de proximité avec les différents acteurs du parcours de soin avec pour objectif premier la satisfaction de ses utilisateurs aussi bien prescripteurs, qu’infirmiers et patients.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-video [muted]="false" [autoplay]="true" [download]="false" [loop]="true" [fullscreen]="true" [overlay]="false">
          <source src="../../assets/videos/Final Comp_1.mp4" type="video/mp4">
        </mat-video>
      </div>
    </div>
  </div>
</section>
