<h2 mat-dialog-title>Simulatuer 2.0</h2>
<mat-dialog-content class="mat-typography">
  <h3>Vous avez sélectionné :</h3>

    <div *ngFor="let rep of data">
      <div class="item" style=" padding-bottom: 20px;">
        <div class="testimony-wrap d-flex">
          <div class="user-img mr-4" style="background-image: url(../../assets/images/Tips_41145.png)">
          </div>
          <div class="text ml-2 bg-light">
            <p>{{rep.resultet}}</p>
            <p class="name"><h3><b>Conseils pratiques : </b> {{rep.Conseils}}</h3>
            <span class="position"><b>Simuler : </b>{{rep.analyse}}</span>
          </div>
        </div>
      </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Quitter</button>
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
</mat-dialog-actions>
