

<section class="home-slider owl-carousel">
  <div class="slider-item"  data-stellar-background-ratio="0.5">

    <mat-video id="myVideo" [muted]="true" [autoplay]="true" [download]="false" [loop]="true" [fullscreen]="true" [overlay]="false">
      <source src="../../assets/videos/Renderme_720p.mp4" type="video/mp4">
    </mat-video>

    <div class="overlay"></div>
<!--    <div class="container">-->
<!--      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">-->
<!--        <div class="col-md-6 text ftco-animate">-->
<!--          &lt;!&ndash; <h1 class="mb-4"><div class="div1"> BIENVENUE AU &nbsp;</div><span>LABORATOIRE MASMOUDI JERIBI SENDA</span></h1> &ndash;&gt;-->
<!--          <h1><div class="div1" style="font-size: 40px;font-weight: 400;"> LABORATOIRE </div><span style="font-size:40px;font-style: oblique; font-weight: lighter;" > MASMOUDI JERIBI SENDA</span></h1>-->
<!--          &lt;!&ndash; <h3 class="subheading">Chaque jour, nous apportons espoir et sourire au patient que nous servons</h3> &ndash;&gt;-->
<!--          <h3 class="subheading">Chaque jour, nous apportons espoir et sourire au patient que nous servons</h3>-->
<!--          <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Voir notre activités</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

<!--  <div class="slider-item" style="background-image:url(../../assets/images/008.jpg);" data-stellar-background-ratio="0.5">-->
<!--    <div class="overlay"></div>-->
<!--    <div class="container">-->
<!--      <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">-->
<!--        <div class="col-md-6 text ftco-animate">-->
<!--          <h1><div  style="font-size: 40px;font-weight: 400;">Nous nous soucions</div> <span style="font-size:46px" >À propos de votre santé</span></h1>-->
<!--          <h3 class="subheading">Votre santé est notre priorité absolue avec des soins médicaux complets et abordables.</h3>-->
<!--          <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Voir notre activités</a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>

<section class="ftco-services ftco-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-doctor"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Prélèvement à domicile</h3>
            <p style="font-size: 14px;">Notre laboratoire réalise des prélèvements à domicile tous les jours. Vous pouvez contacter le secrétariat du laboratoire par téléphone pour les prises de rendez-vous.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
					<span>
					<img src="../../assets/images/diploma.png" alt="" style=" margin-top: -2px; width: 56px; "/>
					</span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Accréditation ISO 15189</h3>
            <p style="font-size: 14px;"> Notre laboratoire a entamé une procédure d’accréditation selon la norme NF EN ISO 15189.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            		<span>
					<img src="../../assets/images/knowledge.png" alt="" style=" margin-top: -8px; width: 56px; "/>
					</span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Formation Continue</h3>
            <p style="font-size: 14px;">Des sessions de formation permanente organisées par notre laboratoire pour améliorer les performances de notre équipe.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex services align-self-stretch p-4 ftco-animate">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-24-hours"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Heures d'ouverture</h3>
            <p style="font-size: 14px;">
              Notre laboratoire est toujours à votre service 7j/7 et 24h/24, même les dimanches et les jours fériés.
              <br>
              Numéro Services d'urgence <br><span style="font-size: 20px;"> 24 111 722</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(../../assets/images/about.jpg);">
      </div>
      <div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
        <div class="heading-section mb-5">
          <div class="pl-md-5 ml-md-5">
            <span class="subheading">à propos de nous</span>
            <h2 class="mb-4" style="font-size: 28px;">BIENVENUE AU LABORATOIRE MASMOUDI JERIBI SENDA</h2>
          </div>
        </div>
        <div class="pl-md-5 ml-md-5 mb-5">
          <p> Laboratoire indépendant dirigé depuis 2000 par Mme Masmoudi Jeribi Senda Biologiste médical, le laboratoire développe une relation de proximité avec les différents acteurs du parcours de soin avec pour objectif premier la satisfaction de ses utilisateurs aussi bien prescripteurs, qu’infirmiers et patients. </p>

          <div class="row mt-5 pt-2">
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                <div class="text">
                  <h3>PRELEVEMENT <BR> À DOMICILE</h3>
                  <p>En cas d’impossibilité de vous rendre au laboratoire, un préleveur est disponible sur votre service</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                <div class="text">
                  <h3>PRELEVEMENT AU LABORATOIRE</h3>
                  <p>Avec ou sans rendez-vous, la priorité est donnée aux personnes qui ont pris rendez-vous.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                <div class="text">
                  <h3>PRELEVEMENT CHEZ L'ENFANT</h3>
                  <p>Les prises de sang pour les nouveau-nés sont sur rendez-vous.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services-2 d-flex">
                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                <div class="text">
                  <h3>PRELEVEMENT A JEUN / NON A JEUN</h3>
                  <p>De préférence le matin avec ou sans rendez-vous.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="ftco-intro" style="background-image: url(../../assets/images/image1.jpeg);" data-stellar-background-ratio="0.5">-->
<!--  <div class="overlay"></div>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-9">-->
<!--        <h2>Votre laboratoire et votre medecin</h2>-->
<!--        <p class="mb-0">Vos resultats d'examens sont transmis systematiquement par e-mail a votre medecin.</p>-->
<!--        <p></p>-->
<!--      </div>-->
<!--      <div class="col-md-3 d-flex align-items-center">-->
<!--        <p class="mb-0"><a href="#" class="btn btn-secondary px-4 py-3">Vos Résultats</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="ftco-intro img" style="background-image: url(../../assets/images/image1.jpeg);background-attachment: fixed;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <h2>Votre laboratoire et votre medecin</h2>
        <p class="mb-0">Vos resultats d'examens sont transmis systematiquement par e-mail a votre medecin.</p>
        <p class="mb-0"><a href="#" class="btn btn-white px-4 py-3">Vos Résultats</a></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Nos Avantages</span>
        <h2 class="mb-4">Vous avez plusieurs raisons de nous choisir!</h2>
        <!-- <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p> -->
      </div>
    </div>
    <div class="ftco-departments">
      <div class="row">
        <div class="col-md-12 nav-link-wrap">
          <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Interaction</a>

            <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Rapidité et fiabilité</a>

            <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">SMS Notification</a>

            <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Confidentialité</a>

            <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Pratiques professionnelles</a>

          </div>
        </div>
        <div class="col-md-12 tab-wrap">

          <div class="tab-content bg-light p-4 p-md-5 ftco-animate" id="v-pills-tabContent">

            <div class="tab-pane py-2 fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
              <div class="row departments">
                <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                  <div class="img d-flex align-self-stretch" style="background-image: url(../../assets/images/Acc.jpeg);"></div>
                </div>
                <div class="col-lg-8">
                  <h2>Interaction</h2>
                  <p>Vous pouvez interagir avec votre dossier en changeant votre mot de passe ou votre adresse Email. Vous pouvez par ailleurs décider si vous voulez ou non recevoir les Emails de notification.</p>
                  <div class="row mt-5 pt-2">
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-voicemail"></span></div>
                        <div class="text">
                          <h3>Notification e-mail</h3>
                          <p>Un email est envoyé automatiquement a nos patients.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-clock-o"></span></div>
                        <div class="text">
                          <h3>Rapidité</h3>
                          <p>tous vos résultats d'analyses sur le web en un seul clic.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-vpn_lock"></span></div>
                        <div class="text">
                          <h3>Sécurité</h3>
                          <p>Un espace patient permettant au patient de voir ses résultats d'examen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-key"></span></div>
                        <div class="text">
                          <h3>Accessibilité</h3>
                          <p>Une forte accessibilité de notre site Web.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
              <div class="row departments">
                <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                  <div class="img d-flex align-self-stretch" style="background-image: url(../../assets/images/IMG_3595.jpeg);"></div>
                </div>
                <div class="col-md-8">
                  <h2>Rapidité et fiabilité</h2>
                  <p>Les changements de vos dossiers sont tout de suite publiés sur notre serveur sécurisé. Vous n'aurez plus à attendre ou à vous déplacer. Vous pouvez les consulter tout de suite grâce à votre code d'accès livré par nos soins.</p>
                  <div class="row mt-5 pt-2">
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-voicemail"></span></div>
                        <div class="text">
                          <h3>Notification e-mail</h3>
                          <p>Un email est envoyé automatiquement a nos patients.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-clock-o"></span></div>
                        <div class="text">
                          <h3>Rapidité</h3>
                          <p>tous vos résultats d'analyses sur le web en un seul clic.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-vpn_lock"></span></div>
                        <div class="text">
                          <h3>Sécurité</h3>
                          <p>Un espace patient permettant au patient de voir ses résultats d'examen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-key"></span></div>
                        <div class="text">
                          <h3>Accessibilité</h3>
                          <p>Une forte accessibilité de notre site Web.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
              <div class="row departments">
                <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                  <div class="img d-flex align-self-stretch" style="background-image: url(../../assets/images/image.jpg);"></div>
                </div>
                <div class="col-md-8">
                  <h2>SMS Notification</h2>
                  <p>Un SMS est envoyé automatiquement à nos patients et aux médecins les informant de la création ou des éventuels changements concernant leurs dossiers. SMS contient un lien d'accès.</p>
                  <div class="row mt-5 pt-2">
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-voicemail"></span></div>
                        <div class="text">
                          <h3>Notification e-mail</h3>
                          <p>Un email est envoyé automatiquement a nos patients.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-clock-o"></span></div>
                        <div class="text">
                          <h3>Rapidité</h3>
                          <p>tous vos résultats d'analyses sur le web en un seul clic.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-vpn_lock"></span></div>
                        <div class="text">
                          <h3>Sécurité</h3>
                          <p>Un espace patient permettant au patient de voir ses résultats d'examen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-key"></span></div>
                        <div class="text">
                          <h3>Accessibilité</h3>
                          <p>Une forte accessibilité de notre site Web.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
              <div class="row departments">
                <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                  <div class="img d-flex align-self-stretch" style="background-image: url(../../assets/images/dept-4.jpg);"></div>
                </div>
                <div class="col-md-8">
                  <h2>Confidentialité</h2>
                  <p>toutes vos informations .</p>
                  <div class="row mt-5 pt-2">
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-voicemail"></span></div>
                        <div class="text">
                          <h3>Notification e-mail</h3>
                          <p>Un email est envoyé automatiquement a nos patients.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-clock-o"></span></div>
                        <div class="text">
                          <h3>Rapidité</h3>
                          <p>tous vos résultats d'analyses sur le web en un seul clic.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-vpn_lock"></span></div>
                        <div class="text">
                          <h3>Sécurité</h3>
                          <p>Un espace patient permettant au patient de voir ses résultats d'examen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-key"></span></div>
                        <div class="text">
                          <h3>Accessibilité</h3>
                          <p>Une forte accessibilité de notre site Web.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
              <div class="row departments">
                <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                  <div class="img d-flex align-self-stretch" style="background-image: url(../../assets/images/dept-5.jpg);"></div>
                </div>
                <div class="col-md-8">
                  <h2>Pratiques professionnelles</h2>
                  <p>Pratiques professionnelles.</p>
                  <div class="row mt-5 pt-2">
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-voicemail"></span></div>
                        <div class="text">
                          <h3>Notification e-mail</h3>
                          <p>Un email est envoyé automatiquement a nos patients.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-clock-o"></span></div>
                        <div class="text">
                          <h3>Rapidité</h3>
                          <p>tous vos résultats d'analyses sur le web en un seul clic.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-vpn_lock"></span></div>
                        <div class="text">
                          <h3>Sécurité</h3>
                          <p>Un espace patient permettant au patient de voir ses résultats d'examen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                        <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="icon-key"></span></div>
                        <div class="text">
                          <h3>Accessibilité</h3>
                          <p>Une forte accessibilité de notre site Web.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Biologistes</span>
        <h2 class="mb-4">Nos biologistes qualifiés</h2>
        <p>Biologistes mettent à votre disposition leur ecoute et leur disponibilité</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-1.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Dr. Masmoudi Jeribi Senda</h3>
            <span class="position mb-2">Biologiste</span>
            <div class="faded">
              <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
              <ul class="ftco-social text-center">
                <li class="ftco-animate">Ancienne Assistante</li>
                <li class="ftco-animate">Hospitalo-universitaire</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-4.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Dr. Amira Aissaoui</h3>
            <span class="position mb-2">Biologiste</span>
            <div class="faded">
              <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
              <ul class="ftco-social text-center">
                <li class="ftco-animate">Ancienne Assistante</li>
                <li class="ftco-animate">Hospitalo-universitaire</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <!-- <span class="subheading">Secrétariats</span> -->
        <h2 class="mb-4">Nos Préleveurs </h2>
        <p>L'équipe de notre laboratoire présente nos préleveurs</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/IMG_4243.jpg);transform: rotate(90deg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Anis</h3>
            <span class="position mb-2">Préleveur </span>
            <div class="faded">
              <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
              <ul class="ftco-social text-center">
                <li class="ftco-animate">Ancienne Assistante</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-2.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Karima</h3>
            <span class="position mb-2">Préleveur</span>
            <div class="faded">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-3.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Emna</h3>
            <span class="position mb-2">Préleveur</span>
            <div class="faded">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-4.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Houda</h3>
            <span class="position mb-2">Préleveur</span>
            <div class="faded">
              <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
              <ul class="ftco-social text-center">
                <li class="ftco-animate">Ancienne Assistante</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <!-- <span class="subheading">Secrétariats</span> -->
        <h2 class="mb-4">Garde de Nuit</h2>
        <p>L'équipe de notre laboratoire présente nos gardes de nuit</p>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-1.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Mohamed</h3>
            <span class="position mb-2">Préleveur </span>
            <div class="faded">
              <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
              <ul class="ftco-social text-center">
                <li class="ftco-animate">Ancienne Assistante</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-2.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Rabie</h3>
            <span class="position mb-2">Préleveur</span>
            <div class="faded">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url(../../assets/images/doc-3.jpg);"></div>
          </div>
          <div class="text pt-3 text-center">
            <h3>Dorsaf</h3>
            <span class="position mb-2">Préleveur</span>
            <div class="faded">

            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <!-- <span class="subheading">Testimonials</span> -->
        <h2 class="mb-4">Nos Partenaires</h2>
        <p>Depuis sa création notre laboratoire a entrepris une démarche soutenue pour tisser un réseau international de partenaires avec lequel il partage son expérience et développe les compétences de ses experts, et prospecte des nouveaux marchés.</p>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-8">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/ugtt-CNAM.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La société CNAM, CAISSE NATIONALE D'ASSURANCE MALADIE spécialisée Assurances - Compagnies. La société CNAM, CAISSE NATIONALE D'ASSURANCE MALADIE est basée à Gabes.</p>
                <p class="name">CAISSE NATIONALE D'ASSURANCE MALADIE</p>
                <span class="position">CNAM</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/biat-logo.jpg)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La Banque internationale arabe de Tunisie ou BIAT est une banque tunisienne qui fait partie des trente principaux établissements d'Afrique du Nord. Première banque tunisienne en termes de parts de marché et cotée à la Bourse de Tunis, elle a pour actionnaire de référence le groupe Mabrouk.</p>
                <p class="name">Banque internationale arabe de Tunisie</p>
                <span class="position">BIAT</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/BNA.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La Banque nationale agricole ou BNA est une banque publique tunisienne. Fondée le 1ᵉʳ juin 1959, elle a le statut de société anonyme dont le capital social se monte à 176 millions de dinars. Elle compte 164 agences couvrant tout le territoire et réparties en cinq catégories selon l'importance de leur activité.</p>
                <p class="name">Banque nationale agricole</p>
                <span class="position">BNA</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/280px-BH_BANK.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La BH Bank, anciennement Banque de l'habitat, est une banque tunisienne dont l'activité pionnière concerne le crédit immobilier mais elle fait aussi office de banque de dépôt en organisant les opérations courantes pour le compte de tiers ou pour son propre compte.</p>
                <p class="name">BH Bank</p>
                <span class="position">BH</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/bt.jpg)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La Banque de Tunisie ou BT est une banque commerciale privée de Tunisie. Fondée le 23 septembre 1884, elle est l'une des plus anciennes banques d'Afrique.</p>
                <p class="name">Banque de Tunisie</p>
                <span class="position">BT</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/BANKABC.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>Traduit de l'anglais-Arab Banking Corporation est une banque internationale dont le siège est situé dans la zone diplomatique de Manama, à Bahreïn. Elle a été constituée en société par actions en 1980 par un décret spécial de l'émir de Bahreïn.</p>
                <p class="name">Arab Banking Corporation</p>
                <span class="position">BANK ABC</span>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/EPPM.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>EPPM est reconnu comme l'un des principaux contacteurs EPC actifs au Moyen-Orient et en Afrique. Pour honorer notre engagement envers nos clients, nous réalisons des projets d'ingénierie et clés en main qui génèrent des marges bénéficiaires élevées et une croissance économique élevée.</p>
                <p class="name">ENGINEERING PROCUREMENT & PROJECT MANAGEMENT</p>
                <span class="position">EPPM</span>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/UNvUSA.jpg)">
              </div>
              <div class="text ml-2 bg-light">

                <p>L’ambassade des États-Unis en Tunisie a pour mission de soutenir la Tunisie dans ses efforts pour consolider sa démocratie naissante, développer son économie et renforcer ses capacités de sécurité.</p>
                <p class="name">U.S. Embassy</p>
                <span class="position">U.S. Embassy</span>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/AssurSalim.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>Assurance Vie, Epargne-Retraite et Prévoyance. Un large choix de formules parfaitement adaptées à vos besoins et à votre situation financière.</p>
                <p class="name">Assurances SALIM</p>
                <!-- <span class="position">Assurances SALIM</span> -->
              </div>
            </div>
          </div>


          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/gat.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>GAT assurances est une compagnie d'assurance Tunisienne qui offre une large gamme de solutions pour les particuliers, professionnels et entreprises.</p>
                <p class="name">GAT Assurances</p>
                <span class="position">GAT</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/NextCare.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>Fondée en 1999, la société se spécialise dans l’offre de services de gestion et d'administration complètes de l'assurance santé aux payeurs de soins de santé, y compris les employeurs autoassurés. Avec une présence régionale à portée mondiale, NEXtCARE fournit à ses clients l'équilibre parfait entre service à la clientèle sans pareil et coût optimisé.</p>
                <p class="name">NEXtCARE</p>
                <!-- <span class="position">BT</span> -->
              </div>
            </div>
          </div>


          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/AstreeASSUR.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>Astrée est une compagnie d'assurances Multi-Branches qui vous propose une panoplie d'assurances voyage, automobile, et habitation en Tunisie.</p>
                <p class="name">ASTREE</p>
                <!-- <span class="position">BT</span> -->
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/helpgroup.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>HELP GROUP est aujourd'hui le premier opérateur en Tunisie de services d'assistance, de tiers payant et de gestion déléguée dans le domaine de la santé.</p>
                <p class="name">HelpGroup</p>
                <!-- <span class="position">BT</span> -->
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/AssurMAG.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>Assurances MAGHREBIA vous accompagne au quotidien : découvrez notre gamme de produits , demandez votre devis en ligne ou contactez notre service.</p>
                <p class="name">ASSURANCES MAGHREBIA</p>
                <!-- <span class="position">BT</span> -->
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/sonede.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La Société nationale d'exploitation et de distribution des eaux ou SONEDE est une société tunisienne de droit public à caractère non administratif qui assure la fourniture en eau potable sur tout le territoire tunisien.</p>
                <p class="name">Société nationale d'exploitation et de distribution des eaux</p>
                <span class="position">SONEDE</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/SNIT.png)">
              </div>
              <div class="text ml-2 bg-light">

                <p>Société Nationale Immobilière de Tunisie SNIT Siège social : El Manar II - 2092 Tunis Tél : 71 88 44 99 Fax : 71 88 65 77 Email : snit.com@snit.tn.</p>
                <p class="name">Société Nationale Immobilière</p>
                <span class="position">SNIT</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(../../assets/images/poste.jpg)">
              </div>
              <div class="text ml-2 bg-light">

                <p>La Poste tunisienne, dénomination commerciale de l'Office national des Postes tunisiennes, est l'entreprise publique tunisienne de service postal.</p>
                <p class="name">Poste tunisienne</p>
                <!-- <span class="position">Poste tunisienne</span> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter" style="background-image: url(../../assets/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-5 pr-md-5">
        <div class="heading-section heading-section-white ftco-animate mb-5">
          <span class="subheading">Demande d'analyses</span>
          <h2 class="mb-4">Rendez-vous gratuit</h2>
          <p>Notre laboratoire offre la possibilité de demander une rendez-vous online</p>
        </div>
<!--        <form action="#" class="appointment-form ftco-animate" [formGroup]="DemandeRdv">-->
        <div  class="appointment-form ftco-animate">
          <div class="d-md-flex">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="form-group ml-md-4">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
          </div>
          <div class="d-md-flex">

            <div class="form-group ml-md-8">
              <input type="text" class="form-control" placeholder="Tel">
            </div>
          </div>
          <div class="d-md-flex">
            <div class="form-group ml-md-8">
              <div class="input-wrap">
                <div class="icon"><span class="ion-md-calendar"></span></div>
                <input type="text" class="form-control appointment_date" placeholder="Date">
              </div>
            </div>
<!--            <div class="form-group ml-md-4">-->
<!--              <div class="input-wrap">-->
<!--                <div class="icon"><span class="ion-ios-clock"></span></div>-->
<!--                <input type="text" class="form-control appointment_time" placeholder="Time">-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="d-md-flex">
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group ml-md-4">
              <input type="submit" value="Envoyer maintenant" class="btn btn-secondary py-3 px-4">
            </div>
          </div>
<!--        </form>-->
        </div>
      </div>
      <div class="col-lg-6 p-5 bg-counter aside-stretch">
        <h3 class="vr">À propos du laboratoire Masmoudi Jeribi Senda</h3>
        <div class="row pt-4 mt-1">
          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number" data-number="10">0</strong>
                <span>Certificates</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Patients satisfaits</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number" data-number="2">0</strong>
                <span>Nombre de biologistes</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 p-5 bg-light">
              <div class="text">
                <strong class="number" data-number="15">0</strong>
                <span>Nombre de personnels</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Nouveautés</span>
        <h2 class="mb-4">Activités récentes</h2>
        <p>Notre laboratoire vous propose des analyses médicales, analyses biologiques ou tout autre examen médical. Analyses effectuées par le laboratoire : Hématologie, Bactériologie / Parasitologie, Sérologie, Biochimie…</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../assets/images/ISO-Logo-500.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">23</span>
              <span class="mos">janvier</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Accréditation ISO 15189</a></h3>
            <p>Nous sommes ravies de vous informer que notre laboratoire a entame une démarche d'accréditation iso 15189 .</p>
            <div class="d-flex align-items-center mt-4">
              <!-- <p class="mb-0"><a href="#" class="btn btn-primary">Lire la suite</span></a></p> -->
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Masmoudi Jeribi Senda</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../assets/images/breth.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">23</span>
              <span class="mos">Juil</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Breath test</a></h3>
            <p>Le test à l'uréase est le plus utilisé des tests respiratoires. Il permet en effet de détecter la présence de la bactérie Helicobacter pylori dans l'estomac. Or les infections chroniques par cette bactérie sont à l'origine de la plupart des ulcères gastriques ou duodénaux.</p>
            <div class="d-flex align-items-center mt-4">
              <!-- <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p> -->
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Masmoudi Jeribi Senda</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../assets/images/lowcarbon.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">23</span>
              <span class="mos">Juil</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Food Print</a></h3>
            <p>Saviez-vous que le système alimentaire est responsable d'un tiers des émissions mondiales de gaz à effet de serre? Avec chaque repas que vous mangez, vous avez le pouvoir de réduire le changement climatique.</p>
            <div class="d-flex align-items-center mt-4">
              <!-- <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p> -->
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Masmoudi Jeribi Senda</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section bg-light" style=" padding: 0 0 40px 0; ">
  <div class="container">

    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Contact</span>
        <h2 class="mb-4">CONTACTEZ LE LABORATOIRE </h2>
        <p>Vous souhaitez nous poser une question ou déposer une réclamation ?
          <br>
          Complétez le questionnaire ci-dessous. Nous vous répondrons dans les meilleurs délais.</p>
      </div>
    </div>
    <section class="ftco-section contact-section aos-init aos-animate" style=" padding: 0;background-color:transparent" data-aos="fade-up" data-aos-duration="600">

      <div class="row d-flex contact-info mb-5">
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center bg-light">
            <div class="icon d-flex align-items-center justify-content-center contact-sectionIcon">
              <span class="icon-map-signs"></span>
            </div>
            <h3 class="mb-4">Adresse</h3>
            <p>Rte X 20 Centre Dorra App 2 - Bloc B - Manar III - TUNIS</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center bg-light">
            <div class="icon d-flex align-items-center justify-content-center contact-sectionIcon">
              <span class="icon-phone2"></span>
            </div>
            <h3 class="mb-4">Numéro de contact</h3>
            <p><a href="#">70 860 680 / 70 860 293</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center bg-light">
            <div class="icon d-flex align-items-center justify-content-center contact-sectionIcon">
              <span class="icon-paper-plane"></span>
            </div>
            <h3 class="mb-4">Adresse électronique</h3>
            <p><a href="#">contact@labo-masmoudi.com</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center bg-light">
            <div class="icon d-flex align-items-center justify-content-center contact-sectionIcon">
              <span class="icon-globe"></span>
            </div>
            <h3 class="mb-4">Site Internet</h3>
            <p><a href="#">www.labo-masmoudi.com</a></p>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper-blocs aos-init aos-animate" style="background-color:transparent" data-aos="fade-up" data-aos-duration="600">
      <div class="row">
        <div class="col-sm-12">

          <div class="container">

            <div class="row d-flex align-items-stretch no-gutters">
              <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
<!--                <form action="#" [formGroup]="msgForm">-->
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nom">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="E-mail">
                  </div>
<!--                  <div class="form-group">-->
<!--                    <input type="text" class="form-control" placeholder="Subject">-->
<!--                  </div>-->
                  <div class="form-group">
                    <textarea name="" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Soumettre" class="btn btn-primary py-3 px-5">
                  </div>
<!--                </form>-->
              </div>
              <div class="col-md-6 d-flex align-items-stretch">

                <div id="map">

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
  </div>
</section>

